@using System.Configuration
@using System.Data.SqlClient
@{
var connectionString = ConfigurationManager.ConnectionStrings["SiteSqlServer"].ConnectionString;
       var con = new SqlConnection(connectionString);
       con.Open();
       var command = new SqlCommand("BioObtenerDevolucionesProveedor", con);
       command.CommandType = System.Data.CommandType.StoredProcedure;
        if (Session["BioRIFproveedor"] != null)
        {
            command.Parameters.Add("@RIF", Session["BioRIFproveedor"].ToString());
        }
       command.Parameters.Add("@IdUsuario", Session["BioUserID"].ToString());
       DateTime Hace2Meses = DateTime.Now.AddMonths(-2);
       DateTime FechaDesde = new DateTime(Hace2Meses.Year, Hace2Meses.Month, 1);
       DateTime FechaHasta = DateTime.Now.AddDays(1);
       if(Request["FechaDesde"] != null && Request["FechaHasta"]!= null )
       {
           if(Request["FechaDesde"].IndexOf('/') > 0 && Request["FechaDesde"].Length == 10 && Request["FechaDesde"].Split('/').Count() == 3  && Request["FechaHasta"].IndexOf('/') > 0 && Request["FechaHasta"].Length == 10 && Request["FechaHasta"].Split('/').Count() == 3 )
           {
               try{
           FechaDesde = new DateTime(int.Parse(Request["FechaDesde"].Split('/')[2]), int.Parse(Request["FechaDesde"].Split('/')[1]), int.Parse(Request["FechaDesde"].Split('/')[0]));
           FechaHasta = new DateTime(int.Parse(Request["FechaHasta"].Split('/')[2]), int.Parse(Request["FechaHasta"].Split('/')[1]), int.Parse(Request["FechaHasta"].Split('/')[0]));
               } catch{}
           }
           Session["FechaDesde"] = FechaDesde;
           Session["FechaHasta"] = FechaHasta;
            
       }else
         {
            if(Session["FechaDesde"] !=null && Session["FechaHasta"]!=null)
            {
                FechaDesde = (DateTime)Session["FechaDesde"];
                FechaHasta = (DateTime)Session["FechaHasta"];
            }
         }
      
       command.Parameters.Add("@FechaDesde", FechaDesde);
       command.Parameters.Add("@FechaHasta", FechaHasta);
       SqlDataReader myReader = command.ExecuteReader();

       }
 <!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="~/Content/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/dataTables.tableTools.css">

<script type="text/javascript" language="javascript" src="~/Scripts/jquery.ui.datepicker-es.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.tableTools.js"></script>

<div id="accordion">
  <h3>Seleccione el rango de fechas a utilizar. Rango actual desde @FechaDesde.ToString("dd/MM/yyyy") hasta @FechaHasta.ToString("dd/MM/yyyy")</h3>
  <div>
   	<p>Fecha desde: <input id="FechaDesde" name="FechaDesde" type="text" value="@FechaDesde.ToString("dd/MM/yyyy")" /> Fecha Hasta: <input id="FechaHasta" name="FechaHasta" type="text" value="@FechaHasta.ToString("dd/MM/yyyy")" /></p>
   <p><input type="submit" value="Actualizar" name="Actualizar" class="dnnPrimaryAction"/></p>
  </div>
  </div>
<br></br>
    <table id="Facturas" class="display compact" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Tienda</th>
            <th>Fecha</th>
             <th>SubTotal</th>
            <th>Impuesto</th>
            <th>Total</th>
            <th>Estatus</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
           <th>Tienda</th>
            <th>Fecha</th>
             <th>SubTotal</th>
            <th>Impuesto</th>
            <th>Total</th>
            <th>Estatus</th>
        </tr>
    </tfoot>
    <tbody>
        @while (myReader.Read())
        {
            <tr>
                <td align="center">@myReader["Tienda"].ToString()</td>
                <td align="center">@Convert.ToDateTime(myReader["Fecha"]).ToString("dd/MM/yyyy")</td>
                <td align="right">@Convert.ToDecimal(myReader["SubTotal"]).ToString("N2")</td>
                <td align="right">@Convert.ToDecimal(myReader["Impuesto"]).ToString("N2")</td>
                <td align="right">@Convert.ToDecimal(myReader["Total"]).ToString("N2")</td>
                <td align="center">@myReader["Estatus"].ToString()</td>
            </tr>
        }

    </tbody>
</table>

    @{
        con.Close();
    }


    <script>

        $(document).ready(function () {
		$("#FechaDesde").datepicker();
        $("#FechaHasta").datepicker();
		$( "#accordion" ).accordion({
				collapsible: true, active: false
			});
            $('#Facturas').dataTable(

                {
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        "sSwfPath": "@Request.ApplicationPath/Scripts/DataTables/copy_csv_xls_pdf.swf"
                    },
                     "language": {
                         "url": "@Request.ApplicationPath/Scripts/DataTables/Spanish.json"
            }
                });


        });
    </script>








