@using PortalProveedoresMVC.Models;
@{
    Layout = null;
    BioOrdenesCompra ODC = (BioOrdenesCompra)ViewBag.ODC;
    BioProveedores Proveedor = (BioProveedores)ViewBag.Proveedor;
    Double? NoEmpaques = 0;
    Double? NoBultos = 0;
    Double? NoUnidades = 0;
    Double? NoKilos = 0;
    Double NoReq = 0;
    IEnumerable<BioOrdenesCompraDetalle> detalle = new  List<BioOrdenesCompraDetalle> ();
    if (ViewBag.DetalleODC != null)
    {
        detalle = ViewBag.DetalleODC;
       // NoEmpaques = detalle.Sum(p=>p.)
        NoKilos = detalle.Sum(p => p.Kg);
        NoBultos = detalle.Sum(p => p.Bultos);
        NoUnidades = detalle.Sum(p => p.UnidadesOdc);
    }
    int LineasRelleno = 4;
    if (detalle.Count() < 4 && detalle.Count()>0)
    { 
        LineasRelleno = 7 - detalle.Count();
    }
    }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orden de Compra</title>
</head>
<body>
    <div> 
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" width="50%">
                    <img src="~/Content/Images/LogoODC.png" />
                </td>
                <td width="50%"></td>
            </tr>
            <tr>
                <td align="center">
                    <b>ALIMENTOS FM, C.A.</b>
                    <br /> RIF: <b>J-31721968-6</b>
                </td>
                <td><br /><b>ORDEN DE COMPRA No:</b>@ODC.Documento</td>
            </tr>
            <tr>
                <td align="center">
                    AV. 96, EDIF. TORRE BOD, PISO 15, LOCAL 8<br />
                    URB. SAN JOSE DE TARBES.<br />
                    TELEFONOS: -0241-824.01.73 / 51.68
                </td>
                <td>
                    FECHA EMISIÓN: @ODC.FechaEmision.ToString("dd/MM/yyyy")
                    <br />FECHA RECEPCIÓN: @ODC.FechaRecepcion.ToString("dd/MM/yyyy")
                    <br />FECHA VENCIMIENTO: @ODC.FechaVencimiento.ToString("dd/MM/yyyy")
                </td>
            </tr>
            <tr>
                <td>
                    PROVEEDOR
                    <br />CODIGO: @Proveedor.Codigo
                </td>
                <td>
                    ENTREGAR A
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td>
                    <b>@Proveedor.Proveedor</b>
                    <br />@Proveedor.Direccion
                </td>
                <td valign="top">
                    <p>@ODC.Tienda</p>

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr>
                            <td width="15%">
                                CODIGO
                            </td>
                            <td width="35%">
                                DESCRIPIÓN
                            </td>
                           
                            <td width="20%">
                                <table width="100%">
                                    <tr>
                                        <td colspan="3" align="center">CANT. SOL.</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            PRE.
                                        </td>
                                        <td>
                                            EMP.
                                        </td>
                                        <td>UNID.</td>
                                    </tr>
                                </table>
                            </td>
                            <td width="10%">
                                COSTO UNITARIO
                            </td>
                            <td width="10%">
                                COSTO POR EMPAQUE
                            </td>
                            <td width="10%">
                                SUB TOTAL
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <hr />
                            </td>
                        </tr>
                        @if (detalle != null)
                        {
                            foreach (BioOrdenesCompraDetalle item in detalle)
                            {
                                <tr>
                                    <td>
                                        @item.CodigoProducto
                                    </td>
                                    <td>
                                        @item.Producto
                                    </td>
                                    <td>
                                        <table width="100%">
                                             <tr>
                                                 <td align="right">
                                                     @item.CantPresentacion
                                                 </td>
                                                 <td align="right">
                                                     @item.Cantidad
                                                 </td>
                                                 <td align="right"> @(item.Cantidad * item.CantPresentacion)</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="right">
                                        @item.Costo
                                    </td>
                                    <td>@(item.CantPresentacion * item.Costo)</td>
                                    <td align="right">
                                        @item.SubTotal
                                    </td>
                                </tr>
                            }
                        }
                        @for (int i = 0; i < LineasRelleno; i++)
                        {
                            <tr>
                                <td colspan="6"><br /></td>
                            </tr>
                        }
                        <tr>
                            <td colspan="6">
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td>Nro.Empq.:</td>
                            <td>@NoEmpaques</td>
                            <td>Nro. Bultos:</td>
                            <td>@NoBultos</td>
                            
                            <td>Sub Total Bs.:</td>
                            <td>@ODC.SubTotal</td>
                        </tr>
                        <tr>
                            <td>Nro. Unidades.:</td>
                            <td>@NoUnidades</td>
                            <td>Nro. Kilos:</td>
                            <td>@NoKilos</td>
                           
                            <td>I.V.A. Bs</td>
                            <td>@ODC.Impuesto</td>
                        </tr>
                        <tr>
                            <td>Nro. Req.:</td>
                            <td>@NoReq</td>
                            <td></td>
                            <td></td>
                           
                            <td>Total Bs</td>
                            <td>@ODC.Total</td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <hr />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    OBSERVACIÓN
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    @ODC.Observacion
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr>
                            <td align="center">COMPRADOR</td>
                            <td align="center">AUTORIZADO POR</td>
                            <td align="center">
                                PROVEEDOR
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <br /><br /> ________________________
                            </td>
                            <td align="center">
                                <br /><br /> ________________________
                            </td>
                            <td align="center"><br /><br />________________________</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>
